In [91]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# data partition
from sklearn.model_selection import train_test_split


#IMPUTERS/ENCODERS
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler


## FEATURE IMPORTANCE
#filter methods
# spearman 
# chi-square
import scipy.stats as stats
from scipy.stats import chi2_contingency
#wrapper methods
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
# embedded methods
from sklearn.linear_model import LassoCV


#ML MODELS
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier



import warnings
warnings.filterwarnings('ignore')

In [117]:
#data_path = "..\..\..\project-template\data\01_raw\Bank Marketing.csv"
data_path = f"C:/Users/Samuel Santos/Documents/MDSAA-DS/MLOPS/GitHub/MLOPS/data/01_raw/Bank Marketing.csv"
bank_df = pd.read_csv(data_path)

In [118]:
 # Change column names to lowercase and no special characters
# Define a function to remove spaces and parentheses from column names and convert them to lowercase
def clean_column_name(column_name):
    cleaned_name = column_name.replace(' ', '_').replace('(', '').replace(')', '').lower()
    return cleaned_name

# Apply the clean_column_name function to each column name using rename()
bank_df = bank_df.rename(columns=clean_column_name)

In [121]:
tgt = 'subscription'

num = ['age', 'balance_euros', 'last_contact_day', 'last_contact_month', 'last_contact_duration', 'campaign', 'pdays', 'previous' ]
categ = ['job','marital_status','education', 'contact', 'poutcome', 'credit', 'housing_loan', 'personal_loan']


for FEAT in CATEGORICAL_FEATURES:
    X.replace('unknown', np.nan, inplace=True)


y = bank_df[TARGET_VARIABLE]
X = bank_df.drop(TARGET_VARIABLE, axis=1)

In [122]:
# AFONSO

num = ['age', 'balance_euros', 'last_contact_day', 'last_contact_month', 'last_contact_duration', 'campaign', 'pdays', 'previous' ]
categ = ['job','marital_status','education', 'contact', 'poutcome', 'credit', 'housing_loan', 'personal_loan']

# num = ["age", "balance_euros)", "Last Contact Day", "Last Contact Duration", "Campaign", "Pdays", "Previous"]
# categ = ["Job", "Marital Status", "Education", "Credit", "Housing Loan", "Personal Loan", "Contact", "Last Contact Month","Poutcome"]



def standardize(df, method):
    data = df.copy()
    data = data[num]
    scaler = method.fit(data)
    out = scaler.transform(data)
    out = pd.DataFrame(out, columns = data.columns).set_index(data.index)
    return out



def feature_engineering(df):
    data = df.copy()
    data["credit"] = data["credit"].map({"no": 0, "yes":1})
    data["housing_loan"] = data["housing_loan"].map({"no": 0, "yes":1}) 
    data["personal_loan"] = data["personal_loan"].map({"no": 0, "yes":1}) 
    data["subscription"] = data["subscription"].map({1:1, 2:0})
    data["last_contact_month"] = data["last_contact_month"].map({'jan': 1, 'feb': 2, 'mar': 3, 'apr': 4, 'may': 5, 'jun': 6, 'jul': 7, 'aug': 8, 'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12 })
    

    df_temp = standardize(data, method = StandardScaler())
    data[num] = df_temp
    
    data = pd.get_dummies(data, drop_first=True)
    
    return data


bank_df = feature_engineering(bank_df)

In [131]:
bank_df

,age,credit,balance_euros,housing_loan,personal_loan,last_contact_day,last_contact_month,last_contact_duration,campaign,pdays,...,marital_status_married,marital_status_single,education_secondary,education_tertiary,education_unknown,contact_telephone,contact_unknown,poutcome_other,poutcome_success,poutcome_unknown
0,1.606965,0,0.256419,1,0,-1.298476,-0.475354,0.011016,-0.569351,-0.411453,...,1,0,0,1,0,0,1,0,0,1
1,0.288529,0,-0.437895,1,0,-1.298476,-0.475354,-0.416127,-0.569351,-0.411453,...,0,1,1,0,0,0,1,0,0,1
2,-0.747384,0,-0.446762,1,1,-1.298476,-0.475354,-0.707361,-0.569351,-0.411453,...,1,0,1,0,0,0,1,0,0,1
3,0.571051,0,0.047205,1,0,-1.298476,-0.475354,-0.645231,-0.569351,-0.411453,...,1,0,0,0,1,0,1,0,0,1
4,-0.747384,0,-0.447091,0,0,-1.298476,-0.475354,-0.233620,-0.569351,-0.411453,...,0,1,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.947747,0,-0.176460,0,0,0.143418,2.016333,2.791329,0.076230,-0.411453,...,1,0,0,1,0,0,0,0,0,1
45207,2.831227,0,0.120447,0,0,0.143418,2.016333,0.768224,-0.246560,-0.411453,...,0,0,0,0,0,0,0,0,0,1
45208,2.925401,0,1.429593,0,0,0.143418,2.016333,3.373797,0.721811,1.436189,...,1,0,1,0,0,0,0,0,1,0
45209,1.512791,0,-0.228024,0,0,0.143418,2.016333,0.970146,0.399020,-0.411453,...,1,0,1,0,0,1,0,0,0,1
45210,-0.370689,0,0.528364,0,0,0.143418,2.016333,0.399328,-0.246560,1.476138,...,1,0,1,0,0,0,0,1,0,0

In [125]:
bank_df.columns

Index(['age', 'credit', 'balance_euros', 'housing_loan', 'personal_loan',
       'last_contact_day', 'last_contact_month', 'last_contact_duration',
       'campaign', 'pdays', 'previous', 'subscription', 'job_blue-collar',
       'job_entrepreneur', 'job_housemaid', 'job_management', 'job_retired',
       'job_self-employed', 'job_services', 'job_student', 'job_technician',
       'job_unemployed', 'job_unknown', 'marital_status_married',
       'marital_status_single', 'education_secondary', 'education_tertiary',
       'education_unknown', 'contact_telephone', 'contact_unknown',
       'poutcome_other', 'poutcome_success', 'poutcome_unknown'],
      dtype='object')

# Feature Selection

# Create Decision Tree Model

In [132]:
bank_df

,age,credit,balance_euros,housing_loan,personal_loan,last_contact_day,last_contact_month,last_contact_duration,campaign,pdays,...,marital_status_married,marital_status_single,education_secondary,education_tertiary,education_unknown,contact_telephone,contact_unknown,poutcome_other,poutcome_success,poutcome_unknown
0,1.606965,0,0.256419,1,0,-1.298476,-0.475354,0.011016,-0.569351,-0.411453,...,1,0,0,1,0,0,1,0,0,1
1,0.288529,0,-0.437895,1,0,-1.298476,-0.475354,-0.416127,-0.569351,-0.411453,...,0,1,1,0,0,0,1,0,0,1
2,-0.747384,0,-0.446762,1,1,-1.298476,-0.475354,-0.707361,-0.569351,-0.411453,...,1,0,1,0,0,0,1,0,0,1
3,0.571051,0,0.047205,1,0,-1.298476,-0.475354,-0.645231,-0.569351,-0.411453,...,1,0,0,0,1,0,1,0,0,1
4,-0.747384,0,-0.447091,0,0,-1.298476,-0.475354,-0.233620,-0.569351,-0.411453,...,0,1,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.947747,0,-0.176460,0,0,0.143418,2.016333,2.791329,0.076230,-0.411453,...,1,0,0,1,0,0,0,0,0,1
45207,2.831227,0,0.120447,0,0,0.143418,2.016333,0.768224,-0.246560,-0.411453,...,0,0,0,0,0,0,0,0,0,1
45208,2.925401,0,1.429593,0,0,0.143418,2.016333,3.373797,0.721811,1.436189,...,1,0,1,0,0,0,0,0,1,0
45209,1.512791,0,-0.228024,0,0,0.143418,2.016333,0.970146,0.399020,-0.411453,...,1,0,1,0,0,1,0,0,0,1
45210,-0.370689,0,0.528364,0,0,0.143418,2.016333,0.399328,-0.246560,1.476138,...,1,0,1,0,0,0,0,1,0,0

In [133]:

X_train, X_val, y_train, y_val = train_test_split(X,y, test_size = 0.3, random_state = 0, stratify = y, shuffle = True)
X_val, X_test, y_val, y_test = train_test_split(X_val,y_val, test_size = 0.3, random_state = 0, stratify = y_val, shuffle = True)

In [137]:
X_train.describe().to_dict()

{'age': {'count': 31647.0,
  'mean': 40.97462634688912,
  'std': 10.625216965945837,
  'min': 18.0,
  '25%': 33.0,
  '50%': 39.0,
  '75%': 48.0,
  'max': 95.0},
 'balance_euros': {'count': 31647.0,
  'mean': 1369.1911081619112,
  'std': 3108.927420053298,
  'min': -8019.0,
  '25%': 73.0,
  '50%': 451.0,
  '75%': 1428.5,
  'max': 102127.0},
 'last_contact_day': {'count': 31647.0,
  'mean': 15.788321167883211,
  'std': 8.313382904627634,
  'min': 1.0,
  '25%': 8.0,
  '50%': 16.0,
  '75%': 21.0,
  'max': 31.0},
 'last_contact_duration': {'count': 31647.0,
  'mean': 258.2912124371978,
  'std': 260.32784534640007,
  'min': 0.0,
  '25%': 103.0,
  '50%': 179.0,
  '75%': 318.0,
  'max': 4918.0},
 'campaign': {'count': 31647.0,
  'mean': 2.7594400733086863,
  'std': 3.076853840270283,
  'min': 1.0,
  '25%': 1.0,
  '50%': 2.0,
  '75%': 3.0,
  'max': 63.0},
 'pdays': {'count': 31647.0,
  'mean': 40.012449837267354,
  'std': 99.76723892224271,
  'min': -1.0,
  '25%': -1.0,
  '50%': -1.0,
  '75%': -1.0,
  'max': 871.0},
 'previous': {'count': 31647.0,
  'mean': 0.5779378772079502,
  'std': 2.4277821468619685,
  'min': 0.0,
  '25%': 0.0,
  '50%': 0.0,
  '75%': 0.0,
  'max': 275.0}}

In [130]:
X_train

,age,job,marital_status,education,credit,balance_euros,housing_loan,personal_loan,contact,last_contact_day,last_contact_month,last_contact_duration,campaign,pdays,previous,poutcome
26556,31,blue-collar,married,secondary,0,2591,1,0,cellular,20,11,55,1,-1,0,failure
18984,48,technician,married,secondary,0,3069,0,0,cellular,4,8,597,2,-1,0,failure
7046,43,blue-collar,married,primary,0,50,0,0,cellular,28,5,90,8,-1,0,failure
2833,60,retired,divorced,primary,0,1327,1,1,cellular,14,5,80,1,-1,0,failure
11507,53,technician,married,secondary,0,1319,0,0,cellular,19,6,1318,3,-1,0,failure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44028,39,management,married,tertiary,0,2939,0,0,cellular,29,6,385,1,165,2,success
23745,60,retired,married,tertiary,0,872,0,0,telephone,28,8,37,5,-1,0,failure
2295,46,blue-collar,married,primary,0,0,1,0,cellular,12,5,51,9,-1,0,failure
11512,50,entrepreneur,married,secondary,0,1857,0,1,cellular,19,6,26,2,-1,0,failure
11965,43,blue-collar,married,secondary,0,-312,1,0,cellular,20,6,26,11,-1,0,failure

In [127]:
model_rf = RandomForestClassifier( n_estimators=100, criterion='gini', max_depth=10, min_samples_split = 5)

In [129]:
model_rf.fit(X_train, y_train)

ValueError: could not convert string to float: 'blue-collar'

ValueError: could not convert string to float: 'blue-collar'